/* Header */
.header {
  background-color: #3c403e;
  padding: 1.25rem 2rem;
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  z-index: 1;
}
.header__container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__container ul {
  display: flex;
}
.header__container li a {
  color: #dd5c56;
  font-size: 14px;
  font-weight: 600;
  padding: 0 0.68rem;
  transition: all 150ms ease-in;
}
.header__container li a:hover {
  opacity: 0.8;
}

@media (max-width: 980px) {
  .header__container nav {
    transition: all 150ms ease-in;
  }
  .header__container ul {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    height: 0;
    flex-direction: column;
    margin-top: 0;
    background-color: #3c403e;
    border-top: 2px solid #dd5c56;
    transition: all 300ms ease-in;
    padding-top: 2rem;
    visibility: hidden;
    overflow: hidden;
  }
  .header__container li {
    border-bottom: 1px solid rgba(221, 92, 86, .5);
    margin-bottom: 1rem;
    padding: 1rem;
  }
}

/* Form */
.form__section {
  background-color: #f0f0f0;
  padding: 6.25rem 2rem;
  display: flex;
  justify-content: space-evenly;
}
.form__colOne {
  max-width: 840px;
  width: 100%;
  font-family: 'Mulish', sans-serif;
  margin-right: 2rem;
}
.form__colOne h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 51px;
  font-weight: bold;
  color: #6A1616;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.form__colOne p {
  font-size: 1.37rem;
}
.form__colOne ul li {
  color: #666666;
  margin-bottom: 1rem;
}
.form__colOne ul li span {
  font-weight: bold;
  color: #6A1616;
}
.form__colTwo {
  font-family: 'Mulish', sans-serif;
  border-radius: 10px;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
  position: relative;
}
.form__colTwo form {
  padding: 2rem 1rem;
  max-width: 575px;
  width: 100%;
}
.form__colTwo div {
  display: flex;
  flex-direction: column;
}
.form__colTwo__checkbox {
  display: flex;
  flex-direction: row !important;
  margin: 1rem 0 .5rem;
}
.form__colTwo__checkbox input {
  margin-right: .5rem;
}
.form__colTwo__checkbox input:focus {
  outline: none !important;
}
.form__colTwo label {
  color: #666666;
  font-size: 0.9rem;
  line-height: 1.5;
}
.form__colTwo input {
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 10px;
  margin-bottom: 1rem;
}
.form__colTwo input:focus {
  outline: 1px solid rgba(102, 102, 102, 0.5);
}
.form__colTwo button {
  background-color: #6A1616;
  border: none;
  color: #ffffff;
  font-family: 'Mulish', sans-serif;
  border-radius: 5px;
  padding: .5rem 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.form__colTwo button:active {
  transform: scale(0.95);
}

@media (max-width: 980px) {
  .form__section {
    flex-direction: column;
  }
  .form__colOne {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .form__colOne {
    text-align: center;
  }
  .form__colTwo form {
    max-width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .form__section  {
    padding: 4rem 1rem;
  }
  .form__colOne h1 {
    font-size: 35px;
  }
  .form__colOne ul {
    text-align: left;
    margin-top: 3rem;
  }
  .form__colTwo form {
    padding: 2rem 1rem;
  }
}

/* Treinamento */
.treinamentoContainer {
  padding: 7rem 2rem;
  background-image: url("../assets/bg-1-lsa-min.jpg");
}
.treinamentoContent {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Mulish',sans-serif;
}
.secTwo__border {
  display: block;
  width: 100%;
  height: 20px;
  background-color: #6A1616;
  margin-bottom: 3rem;
  box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
}
.treinamentoContent h2 {
  color: #6A1616;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  padding: .8rem 4rem;
  text-align: center;
}
.treinamentoContent p {
  text-align: justify;
  padding: .8rem 4rem;
  color: #666666;
  line-height: 1.5;
}

@media (max-width: 480px) {
  .secTwo__border {
    margin-bottom: 1rem;
  }
  .treinamentoContainer {
    padding: 3rem 1rem;
  }
  .treinamentoContent h2 {
    font-size: 25px;
    padding: 1rem;
  }
  .treinamentoContent p {
    padding: 1rem;
    margin: 0;
  }
}

/* Programação */
.programa__section {
  background-image: url("../assets/bg-3-lsa-min.jpg");
  padding-bottom: 4rem;
}
.programa__line {
  background-image: url("../assets/lines.svg");
  background-size: 100% 20px;
  top: 0;
  height: 20px;
  transform: rotateX(180deg)
}
.programa__colOne h2 {
  font-family: 'Mulish',sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: #6A1616;
  text-transform: uppercase;
  text-align: center;
  padding: 4rem 0;
}
.programa__list {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Mulish',sans-serif;
  padding: 0 2rem;
}
.programa__listItem h3 {
  color: #6A1616;
  font-weight: 300;
  font-size: 22px;
  display: flex;
}
.programa__listItem svg {
  font-size: 2rem;
  margin-right: .5rem;
}
.programa__listItem p {
  font-size: 15px;
}
.programa__listItem {
  margin-bottom: 4rem;
}

@media (max-width: 480px) {
  .programa__section {
    padding-bottom: 2rem;
  }
  .programa__colOne h2 {
    font-size: 30px;
    padding: 2rem 0;
  }
  .programa__listItem h3 {
    align-items: center;
  }
  .programa__listItem svg {
    font-size: 1rem;
    margin-right: .5rem;
  }
  .programa__listItem p {
    text-align: justify;
  }
}

/* Depoimento */
.depoimento__section {
  background-color: #3c403e;
  padding-bottom: 2rem;
}
.depoimento__title {
  display: flex;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
}
.depoimento__title h2 {
  color: #FFDC58;
  font-size: 55px;
  font-family: 'Mulish',sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 2rem;
}
.depoimento__title span {
  display: block;
  background-color: #FFDC58;
  box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
  width: 100%;
  height: 20px;
}
.depoimento__video {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .depoimento__title h2 {
    text-align: center;
    margin-right: 0;
    margin: 0 auto;
  }
  .depoimento__title span {
    display: none;
  }
}

@media (max-width: 480px) {
  .depoimento__title {
    padding: 2rem 1rem;
  }
  .depoimento__title h2 {
    font-size: 30px;
  }
  .depoimento__video {
    padding: 0 1rem 2rem;
  }
}

/* Mentor */
.mentor__section {
  font-family: 'Mulish',sans-serif;
  padding: 4rem 2rem;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.mentor__desc {
  display: flex;
  justify-content: space-between;
}
.mentor__title h2 {
  color: #6A1616;
  font-size: 120px;
  font-weight: 300;
  text-transform: uppercase;
}
.mentor__title p {
  font-size: 2rem;
}
.mentor__colOne {
  max-width: 615px;
  width: 100%;
  margin-right: 2rem;
}
.mentor__colOne p {
  text-align: justify;
  color: #666666;
  line-height: 1.8;
}
.mentor__socialMedia {
  display: flex;
}
.mentor__socialMedia a {
  width: 50px;
  height: 50px;
  background-color: #6A1616;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border: 2px solid #6A1616;
  transition: all 150ms ease-in;
}
.mentor__socialMedia a:last-child {
  margin-right: 0;
}
.mentor__socialMedia a:hover {
  background-color: transparent;
}
.mentor__socialMedia a:hover > svg {
  color: #6A1616;
}
.mentor__socialMedia svg {
  font-size: 2rem;
  color: #ffffff;
}

@media (max-width: 980px) {
  .mentor__title h2 {
    font-size: 60px;
    text-align: center;
  }
  .mentor__title p {
    text-align: center;
    font-size: 1.5rem;
  }
  .mentor__desc {
    flex-direction: column;
    align-items: center;
  }
  .mentor__socialMedia {
    justify-content: center;
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .mentor__section {
    padding: 2rem 1rem;
  }
  .mentor__title h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
  }
  .mentor__title p {
    margin-bottom: 1rem;
  }
  .mentor__colOne {
    margin-right: 0;
  }
  .mentor__colOne p {
    margin-top: 0;
  }
  .mentor__socialMedia {
    margin-top: 2rem;
  }
  .mentor__title p {
    margin: 0 0 1rem;
  }
}

/* Parceiros */
.parceiros__section {
  background-color: #ffe894;
  padding: 4rem 2rem;
}
.parceiros__content {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Mulish',sans-serif;
}
.parceiros__content h2 {
  font-size: 50px;
  font-weight: 300;
  color: #6A1616;
  text-transform: uppercase;
  text-align: center;
}
.parceiros__content p {
  font-size: 1.5rem;
  text-align: center;
}
.parceiros__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem 15rem;
  margin-top: 5rem;
}
.parceiros__images img {
  filter: grayscale(100%);
  transition: all 100ms ease-in;
}
.parceiros__images img:hover {
  filter: grayscale(0%);
}
.parceiros__images div {
  max-width: 200px;
  width: 100%;
}

@media (max-width: 980px) {
  .parceiros__images {
    margin-top: 5rem;
    gap: 3rem 5rem;
  }
  .parceiros__images div {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .parceiros__section {
    padding: 2rem 1rem;
  }
  .parceiros__content h2 {
    font-size: 30px;
  }
  .parceiros__content p {
    font-size: 1rem;
  }
  .parceiros__images {
    margin-top: 5rem;
    gap: 3rem 5rem;
  }
  .parceiros__images div {
    max-width: 100px;
  }
}

/* Footer */
.footerOne {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  color: #e6e6e6;
  background-color: #313131;
  padding: .5rem;
  text-align: center;
}
.footerOne span {
  margin: 0 1rem;
}
.footerTwo {
  background-color: #222222;
  padding: .7rem;
  color: #ffffff;
  text-align: center;
}
.footerTwo p {
  margin: 0;
  font-size: 14px;
}

/* Whatsapp */
.whatsapp {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  transition: all 100ms ease-in;
}
.whatsapp:hover {
  transform: scale(1.1);
}
@media (max-width: 710px) {
  .whatsapp {
    bottom: 2rem;
  }
}